:root{
    --background: #b1def0;
    --white: #ebf4f7;
    --txt: #3e4f57;
    --shadow: #587682;
    --shadow2: #9cb2ba;
  }

.url{
    background-color: white;
    color: var(--txt);
    padding: 12px;
    border-radius: 10px;
    border-width: 0px;
    outline: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 50%;
    box-shadow: 3px 3px var(--shadow2);
}

.viewer{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.camera{
    height: 47vh;
    overflow: hidden;

}

.topLine{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
}


.flipped{
    transform: scaleX(-1);
}

.recordBookmark{
    display: grid;
    grid-template-columns: 60% auto;
}

.bookmarkContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.bookmarkContainer > div {
    display: flex;
    gap: 8%;
}

.recorder{
    display: flex;
    gap: 10px;
}

.timestamp{
    display: flex;
    align-items: center;
}

.viewOnly {
    pointer-events: none;
}