:root{
    --background: #b1def0;
    --white: #ebf4f7;
    --txt: #3e4f57;
    --shadow: #587682;
    --shadow2: #9cb2ba;
  }


.background{
    height: 100%;
    width: 100%;
    position: fixed;
    left:0;
    top: 0;
    z-index: 1;
    background-color: rgba(88,118,130, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
}

.header{
    position: fixed;
    top: 9%;
    left: 0%;
}

#closeBtn {
    background: transparent;
    padding: 0px 15px 0px 15px;
}

.container {
    width: 70%;
    height: 60%;
    background-color: #c8ecfa;
    border-radius: 10px;
    display: block;
}

.tabs {
    display: flex;
    gap: 5px;
    margin-top: 8px;
}

#close{
    background-color: transparent;
    padding: 0px;
    width: 1px;
}

.tabs > div {
    font-size: 18px;
    background-color: var(--white);
    padding: 10px;  
    border-radius: 5px 5px 0px 0px;
    width: 20%;
    text-align: center;
}

.content{
    width: 100%;
    background-color: var(--white);
    border-radius: 5px 5px 5px 5px;
    height: 100%;
}