:root{
    --background: #b1def0;
    --white: #ebf4f7;
    --txt: #3e4f57;
    --shadow: #587682;
    --shadow2: #9cb2ba;
    --highlight: #FDF3A1;
  }

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}

.body{
    margin-left: 30px;
    margin-right: 30px;
}

.background{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
    background-color: rgba(88,118,130, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
}

.fullscreen{
    background-color: rgba(0,0,0,0.5);
}

#close{
    background-color: var(--white); 
    height: 10%;
}

.countdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 28%;
    height: 70%;
    border-radius: 12px;
    background-color: var(--white);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    display: block;
    position: absolute;
    z-index: 10;
    overflow: auto;
}

::-webkit-scrollbar{
    background-color: var(--white);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(156,178,186,0.5);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(156,178,186,0.8);
}

#url{
    color: var(--txt);
    padding: 12px;
    border-radius: 10px;
    border-width: 0px;
    outline: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 90%;
    box-shadow: 3px 3px var(--shadow2);
  }

input[type="number"]{
    color: var(--txt);
    padding: 8px;
    border-radius: 10px;
    border-width: 0px;
    outline: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    box-shadow: 3px 3px var(--shadow2);
    text-align: center;
}

.startEnd{
    display: flex;
    justify-content: space-evenly;
}


.section{
    margin-top: 20px;
    margin-bottom: 20px;
}

hr{
    background-color: var(--shadow2);
    opacity: 40%;
    height: 1px;
    border: 0;
}

.seconds{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.timeInput{
    width: 20%;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.start, .end{
    display:flex;
    width: 50%;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.start > div, .end > div {
    flex: 1 0 50%;
    text-align: center;
}

.timestamp {
    display: flex;
}

.timeInput::-webkit-inner-spin-button, .timeInput::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

#speedOption{
    border-color: var(--shadow2);
    border-radius: 0px;
    outline: none;
}

#leftSpeed{
    border-color: var(--shadow2);
    border-radius: 10px 0 0 10px;
    outline: none;
}

.speeds{
    transform: scale(1);
    display: flex;
    justify-content: center;
}

#rightSpeed{
    border-color: var(--shadow2);
    border-radius: 0px 10px 10px 0px;
    outline: none;
}

.selected{
    background-color: var(--highlight);
}

.btn{
    border: 1px solid var(--shadow2);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap{
    gap: 8px;
}

.lessPad{
    margin-bottom: 0px;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    height: 7px;
    border-radius: 10vh;
    background-color: rgba(156,178,186,0.45);
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 2vh;
    height: 2vh;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.transparentButton {
    background-color: transparent;
    padding: 8px;
    color: var(--txt);
}

