:root{
    --background: #b1def0;
    --white: #ebf4f7;
    --txt: #3e4f57;
    --shadow: #587682;
    --shadow2: #9cb2ba;
  }


.navBar{
    color: var(--txt);
    width: 98%;
    height: 3%;
    top: 0px;
    left: 0px;
    padding: 20px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    z-index: 1;
  }
  
.navBar a{
    padding: 1vw;
    color: var(--txt);
  }
  
.navBar a:hover{
  color: gray;
} 

.title{
  font-size: 100px;
}

.navList > li{
  list-style-type: none;
  display: inline-block;
}

#help:hover{
  cursor:pointer;
  color: gray;
}
#help{
  margin-right: 1vh;
  margin-left: 1vh;
}
