:root{
    --background: #b1def0;
    --white: #ebf4f7;
    --txt: #3e4f57;
    --shadow: #587682;
    --shadow2: #9cb2ba;
  }

.invert{
    transform: scaleX(-1);
}

.transparentButton {
    background-color: transparent;
}

.mirror{
    color: var(--txt);
}

.isMirrored{
    color: yellow;
}

.player{
    place-content: center;
    height: 68vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}