:root{
    --background: #b1def0;
    --white: #ebf4f7;
    --txt: #3e4f57;
    --shadow: #587682;
    --shadow2: #9cb2ba;
  }

.invert{
    transform: scaleX(-1);
}

.transparentButton {
    background-color: transparent;
    padding: 8px;
    color: white;
}

.mirror{
    padding: 8px;
    color: white;
}

.isMirrored{
    color: yellow;
}

.playerWrapper{
    height: 68vh;
    width : 100%;
    place-content: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    user-select: none;
}

.container{
    position: relative;
}

.overlay{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.35)) ;
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 2;
    border-radius: 0px 0px 10px 10px;
}

.modal{
    position: absolute;
    z-index: 10;
}

#currTime{
    color: white;
}

.timestamp{
    text-align: center;
    min-width: 5vw;
}

.fullscreen{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    border-radius: 0;
}


.countdownSecond{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    /*without this the top left of the element will be in the center*/
    transform: translate(-50%, -50%);
}

.countdownSecond > h1 {
    font-size: 300px;
    color: white;
    text-shadow: 8px 8px rgba(0,0,0,0.35);
    /* -webkit-text-stroke: 3px black; */
}

#url{
    background-color: white;
    color: var(--txt);
    padding: 12px;
    border-radius: 10px;
    border-width: 0px;
    outline: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 50%;
    box-shadow: 3px 3px var(--shadow2);
    margin-bottom: 20px;
  }
