:root{
    --background: #b1def0;
    --white: #ebf4f7;
    --txt: #3e4f57;
    --shadow: #587682;
    --shadow2: #9cb2ba;
  }

.invert{
    transform: scaleX(-1);
}

.transparentButton {
    background-color: transparent;
    padding: 8px;
    color: white;
}

.mirror{
    padding: 8px;
    color: white;
}

.isMirrored{
    color: yellow;
}

.playerWrapper{
    height: 68vh;
    width : 100%;
    place-content: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    user-select: none;
}

.container{
    position: relative;
}

.overlay{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.35)) ;
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 2;
    border-radius: 0px 0px 10px 10px;
}

.modal{
    position: absolute;
    z-index: 10;
}

#currTime{
    color: white;
}

.timestamp{
    text-align: center;
    min-width: 5vw;
}

.fullscreen{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    border-radius: 0;
}
