:root{
  --background: #b1def0;
  --white: #ebf4f7;
  --txt: #3e4f57;
  --shadow: #587682;
  --shadow2: #9cb2ba;
}

body{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#b1def0, #dae8ed) ;
}